.ui.top.navigation.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


// Video background
.video.slide {
  min-width: 100%;
  min-height: 100%;
}

// Makes the video fill the background and resize nicely
.video.slide video#backgroundVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Needed for a bit of overhang on the video slide
.ui.white.content.section {
  background: white;
}

// Style for content inside of the video slide container
.video.slide {
  @avatarImageSize: 56px;

  color: white;

   // give it a little padding from the menu bar
  .ui.grid {
    margin-top: 58px;

    .avatars {
      display: block;
      background: rgba(255, 255, 255, 0.8);
      padding: 1em 0;
      border-radius: 6px;
      text-align: center;
    }

    .image-container {
      position: relative;
      display: inline-block;
      margin: 0.2em;
      width: @avatarImageSize;
      height: @avatarImageSize;

      img.ui.custom.image {
        width: @avatarImageSize;
        height: @avatarImageSize;
      }

      &.male .image-overlay {
        background: rgba(0, 157, 255, 0.9);
        border: 2px solid rgba(255, 255, 255, 0.4);
      }
      &.female .image-overlay {
        background: rgba(245, 118, 230, 0.9);
        border: 2px solid rgba(255, 255, 255, 0.5);
      }

      .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        //background: rgba(0, 0, 0, 0.8);
        transition: opacity .25s ease-in-out;
        border-radius: 50%;
        &:hover {
          opacity: 1;
        }

        i {
          position: relative;
          color: #ffffff;
          left: 1px;
          top: 14px;
          font-size: 28px;
        }
      }
    }

    .ui.list#login-buttons {
      margin-top: 3em;
    }

    .ui.feed.messages {
      .event {
        .label { width: auto; }
        background: rgba(255, 255, 255, 0.8);
        padding-top: 0.4em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0.6em 0;
        border-radius: 6px;
      }
      img {
        width: @avatarImageSize;
        height: @avatarImageSize;
      }
    }

    .ui.divider {
      border-top: 1px solid rgba(255,255,255,.1);
    }
  }

  #module-buttons {
    text-align: center;
  }

  #login-form-spacer {
    //height: 8em;
  }

  #login, #mobile-signup {
    min-height: 150px;
  }

}

.ui.footer.container {
  margin-top: 2em;
  font-size: 1.2em;
  text-align: center;

  .links, .copyright {
    margin: 1em;
    text-shadow: 1px 1px rgba(0,0,0,0.9);
  }

  .links a {
    color: #ffffff;
    margin-right: 14px;
    text-shadow: 1px 1px rgba(0,0,0,0.9);

    &:hover {
      color: #F56268;
    }
  }

}
