.ui.top.navigation.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.video.slide {
  min-width: 100%;
  min-height: 100%;
}
.video.slide video#backgroundVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ui.white.content.section {
  background: white;
}
.video.slide {
  color: white;
}
.video.slide .ui.grid {
  margin-top: 58px;
}
.video.slide .ui.grid .avatars {
  display: block;
  background: rgba(255, 255, 255, 0.8);
  padding: 1em 0;
  border-radius: 6px;
  text-align: center;
}
.video.slide .ui.grid .image-container {
  position: relative;
  display: inline-block;
  margin: 0.2em;
  width: 56px;
  height: 56px;
}
.video.slide .ui.grid .image-container img.ui.custom.image {
  width: 56px;
  height: 56px;
}
.video.slide .ui.grid .image-container.male .image-overlay {
  background: rgba(0, 157, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.video.slide .ui.grid .image-container.female .image-overlay {
  background: rgba(245, 118, 230, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.video.slide .ui.grid .image-container .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  border-radius: 50%;
}
.video.slide .ui.grid .image-container .image-overlay:hover {
  opacity: 1;
}
.video.slide .ui.grid .image-container .image-overlay i {
  position: relative;
  color: #ffffff;
  left: 1px;
  top: 14px;
  font-size: 28px;
}
.video.slide .ui.grid .ui.list#login-buttons {
  margin-top: 3em;
}
.video.slide .ui.grid .ui.feed.messages .event {
  background: rgba(255, 255, 255, 0.8);
  padding-top: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.6em 0;
  border-radius: 6px;
}
.video.slide .ui.grid .ui.feed.messages .event .label {
  width: auto;
}
.video.slide .ui.grid .ui.feed.messages img {
  width: 56px;
  height: 56px;
}
.video.slide .ui.grid .ui.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.video.slide #module-buttons {
  text-align: center;
}
.video.slide #login,
.video.slide #mobile-signup {
  min-height: 150px;
}
.ui.footer.container {
  margin-top: 2em;
  font-size: 1.2em;
  text-align: center;
}
.ui.footer.container .links,
.ui.footer.container .copyright {
  margin: 1em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}
.ui.footer.container .links a {
  color: #ffffff;
  margin-right: 14px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}
.ui.footer.container .links a:hover {
  color: #F56268;
}
